/* General button  */
.Button {
  background-color: #333;
  color: white;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  font-family: Work Sans;
  align-self: center;
  padding: 4px 10px;
  margin: 0px 10px;
  min-width: 75px;
}

.Button:hover {
  background-color: #555;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #D57F32 !important;
}

.Button:active {
  background-color: #D57F32 !important;
}

.Button:focus {
  background-color: #D57F32;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

/* Black is FollowButton */
/* BlackOutline is NotFollowButton */
.Black, .BlackOutline:hover {
  background-color: #3C5A5A;
  color: #ddd;
}

.Black:hover,
.BlackOutline {
  background-color: #ddd;
  color: #3C5A5A;
}

/* Ireversable Action button  */
/* Bright is LogIn & SignIn button  */
.Action,
.Blue,
/*.BlueOutline:hover,*/
.Bright:hover {
  background-color: #D57F32;
  color: #ffffff;
}

/*.BlueOutline,*/
.Action:hover,
.Blue:hover {
  /* border: 1px solid #D57F32; */
  background-color: #ffffff;
  color: #D57F32;
}


.Bright,
.ActionButton {
  background-color: #1E6F7C;
  color: #eee;
}

/* Ireversable Delete button */
.DeleteButton {
  background-color: #D57F32;
  color: #eee;
}

.ButtonGroup {
  margin: 15px 0px;
}