/* General button  */
.Button {
  background-color: #D57F32;
  color: white;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
  font-size: 0.9rem;
  font-family: Work Sans;
  align-self: center;
  padding: 4px 10px;
  margin: 0px 10px;
  min-width: 75px;
}

.Button:hover {
  background-color: #555;
  cursor: pointer;
}

.Button:hover {
  background-color: #dddddd;
}

.Button:hover:active {
  background-color: #333 !important;
}

.Button:active {
  background-color: #D57F32 !important;
}

.Button:focus {
  background-color: #D57F32 !important;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

/* Black is FollowButton */
/* BlackOutline is UnfollowButton */
.FollowButton,
.Black, .BlackOutline:hover {
  background-color: #4A7F7F;
  color: #ddd;
}

.FollowButton:hover,
.Black:hover,
.BlackOutline {
  background-color: #ddd;
  color: #4A7F7F;
}

/* Ireversable - Action button  */
/* Bright - LogIn & SignIn button  */
.ActionButton,
.CancelButton,
.CreateButton,
.PostButton,
.Bright:hover {
  background-color: #D57F32;
  color: #ffffff;
}

.ActionButton:hover,
.CancelButton:hover,
.CreateButton:hover,
.PostButton:hover {
  background-color: #dddddd;
  color: #8d5422;
}

/* Ireversable - Delete button */
.DeleteButton,
.Bright   {
  background-color: #7A5C5A;
  color: #fff;
}

.DeleteButton:hover {
  background-color: #dddddd;
  color: #7A5C5A;
}

.ButtonGroup {
  margin: 15px 0px;
}