.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.NavbarBrand {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* logo text - PROJECT PATH */
.LogoText {
  margin-top: auto;
  font-size: 20px;
  text-align: center;
  padding: 0 5px;
  display: none;
  font-family: Poppins;
  font-weight: 500;
}

/* display logo text - PROJECT PATH on larger screens */ 
@media (min-width: 992px) {
  .LogoText {
      display: inline;
  }
}

.NavLink {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 700;
}

/* Prevents "Sign out" from breaking onto two lines */
.BreakableText {
    display: inline;
    white-space: nowrap;
    margin-left: 0.5rem;
}

.Active i {
    color: #D57F32;
}

@media (max-width: 767.98px) {
  .NavLink {
    display: flex;
    justify-content: flex-end;  /* Align items to the left */
    width: 50%;  /* 2/3 of the screen */
    margin-left: auto;  /* Push the container to the right */
  }

  .NavLink {
    display: flex;
    align-items: center;
  }
  
  .NavLink i,
  .NavLink img {
    order: 1; /* This will make <i> appear after the text */
  }
  
  .NavLink span {
    order: 0; /* This ensures the text stays before the <i> */
  }
}